# OS AND EDITOR
.DS_Store
.dropbox
.cache
.project
Icon?
Thumbs.db
*.sublime-project
*.sublime-workspace
.ipynb-checkpoints/

# PYTHON
*.py[cod]

# PROJECT SPECIFIC
_mess/
control_maps/
simulated_data/
simulations/
vault/
